body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}


h1 {
    font-family: 'Segoe UI', sans-serif;
    color: #2c3e50;
    font-size: 36px;
}

p {
    font-size: 20px;
    color: #34495e;
    line-height: 1.6;
    margin: 20px 0;
}

img {
    max-width: 300px;
    margin-top: 30px;
}