body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #2c3e50;
    font-size: 40px;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #3498db;
    font-size: 32px;
    margin-top: 40px;
}

p {
    font-size: 22px;
    color: #34495e;
    line-height: 1.6;
    margin: 20px 0;
}

img {
    max-width: 300px;
    margin-top: 30px;
    border-radius: 10px;
}

table {
    width: 100%;
    margin: 30px 0;
    font-size: 16px;
}

th {
    color: black;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ddd;
}

td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}






